- if current_user
  .pull-right
    .dropdown
      %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
        #{current_user.name}
        %b.caret
      %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
        %li
          = link_to 'Sign Out', sign_out_path
