- if current_user
  .pull-right
    .dropdown
      %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
        = image_tag current_user.avatar.url(:thumb, timestamp:false)
        %b.caret
      %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
        %li
          = link_to profile_path do
            Edit Profile
        %li
          = link_to sign_out_path do
            Sign Out
