---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17BsYCCNtHoykpM8Ylu960Aw",
          "object": "token",
          "card": {
            "id": "card_17BsYCCNtHoykpM8qf6MtKpg",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "cTYkI8ep8lhSZrdM",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "162.156.34.25",
          "created": 1448655036,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 27 Nov 2015 20:10:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&card=tok_17BsYCCNtHoykpM8Ylu960Aw&description=caden_pfeffer%40wiza.com
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17BsYDCNtHoykpM8uUIgD1uw",
          "object": "charge",
          "amount": 100,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17BsYDCNtHoykpM8Aba2KAgs",
          "captured": true,
          "created": 1448655037,
          "currency": "usd",
          "customer": null,
          "description": "caden_pfeffer@wiza.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17BsYDCNtHoykpM8uUIgD1uw/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17BsYCCNtHoykpM8qf6MtKpg",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "cTYkI8ep8lhSZrdM",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 27 Nov 2015 20:10:37 GMT
recorded_with: VCR 2.9.3
