---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&card=tok_17F6saCNtHoykpM8bou5jIGO&description=DueToday%20user%3A%20jose.windler%40klein.com
    headers:
      Authorization:
      - Bearer sk_test_yENZrfNUuVXFshfe9yOkatfu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17F6sdCNtHoykpM80HhV0RdE",
          "object": "charge",
          "amount": 100,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17F6sdCNtHoykpM8TTatMQj0",
          "captured": true,
          "created": 1449425103,
          "currency": "usd",
          "customer": null,
          "description": "DueToday user: jose.windler@klein.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17F6sdCNtHoykpM80HhV0RdE/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17F6saCNtHoykpM8FMzLXrkk",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "cTYkI8ep8lhSZrdM",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "jose.windler@klein.com",
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Sun, 06 Dec 2015 18:05:03 GMT
recorded_with: VCR 2.9.3
