.well
  - if dates
    - dates.each do |date|
      %p= date
      .row
        .col-md-6
          %ul
            - current_user.todos.where(due: date).each do |todo|
              %li
                - if todo.completed?
                  %span{:class => 'glyphicon glyphicon-check'}
                - else
                  %span{:class => 'glyphicon glyphicon-thumbs-down'}
                = todo.title
        .col-md-6
          - current_user.summaries.where(date: date).each do |summary|
            %p= summary.description
      %hr