- if todo.completed?
  %span{:class => 'glyphicon glyphicon-check'}
- elsif todo.failed?
  %span{:class => 'glyphicon glyphicon-thumbs-down'}
- else
  %span{:class => 'glyphicon glyphicon-unchecked'}
